@font-face {
    font-family: arimo-bolditalic;
    src: url(../../stylesheets/fonts/Arimo-BoldItalic.ttf);
}

@font-face {
    font-family: shippori;
    src: url(../../stylesheets/fonts/ShipporiAntiqueB1-Regular.ttf);
}


body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
.title {
    font-family: arimo-bolditalic;
    font-size: 15vw;
    line-height: 90%;
    position: relative;
    display: block; 
    position: relative;
    text-align: left;
    font-weight: bold;
    padding: 0;
    margin: 10px 100px 10px 10px;
}

.image1 {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    width: 100vw;
}

.desc {
    font-family: shippori;
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: block;
    padding: 3rem;

}