@font-face {
    font-family: arimo-bolditalic;
    src: url(../stylesheets/fonts/Arimo-BoldItalic.ttf);
}

@font-face {
    font-family: arimo-med-italic;
    src: url(../stylesheets/fonts/Arimo-MediumItalic.ttf);
}

@font-face {
    font-family: arimo-reg;
    src: url(../stylesheets/fonts/Arimo-Regular.ttf);
}

@font-face {
    font-family: rubik;
    src: url(../stylesheets/fonts/RubikBeastly-Regular.ttf);
}

@media screen and (min-width: 1101px) {
    h1.arthur {
        font-size: 2vw;
    }
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: black;
    position: relative;
}

ul li {
    display: inline-block;
    /* padding: 1vw; */
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

ul li:hover {
    background-color: gray;
}

ul ul {
    position: absolute;
    min-width: 200px;
    background-color: lightsalmon;
    display: none;
}

ul ul li {
    display: block;
    background: black;
}

ul li:hover ul {
    display: block;
}

#work-menu {
    font-size: 2vh;
    font-family: arimo-reg;
    position: relative;
    z-index: 1;
}

.home-image {
    align-items: left;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

/* .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: rubik;
    font-size: 25rem;
    color: white;
    opacity: 50%;
} */
