@font-face {
    font-family: arimo-bold;
    src: url(../stylesheets/fonts/Arimo-Bold.ttf);
}

@font-face {
    font-family: arimo-reg;
    src: url(../stylesheets/fonts/Arimo-Regular.ttf);
}

@font-face {
    font-family: arimo-italic;
    src: url(../stylesheets/fonts/Arimo-Italic.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(../stylesheets/fonts/Quicksand-Regular.ttf);
}

@media screen and (min-width: 601px) {
    h1.arthur {
        font-size: 2vw;
    }
}

header {
    display: flex;
    background: green;
    size: 2vh;
    z-index: 0;
}

body {
    margin: 0;
    padding: 0;
}

/* h1.arthur {
    padding: 0px 10px 0px 25px;
    color: white;
    font-family: quicksand;
    font-size: 3vh;
}

h2.work {
    padding: 0px 10px 0px 10px;
    color: white;
    font-family: quicksand;
    font-size: 2.7vh;
}

h2.sketches {
    padding: 0px 10px 0px 25px;
    color: white;
    font-family: quicksand;
    font-size: 2.7vh;
}

h2.bio {
    padding: 0px 10px 0px 25px;
    color: white;
    font-family: quicksand;
    font-size: 2.7vh; 
}

h2.contact {
    padding: 0px 10px 0px 25px;
    color: white;
    font-family: quicksand;
    font-size: 2.7vh;
}

h2.cv {
    padding: 0px 10px 0px 25px;
    color: white;
    font-family: quicksand;
    font-size: 2.7vh; */
}

nav {
    background: white;
}

nav ul {
    font-size: 0;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    color: red;
    display: block;
    font-size: 14px;
    padding: 15px 14px;
    transition: 0.3s linear;
}

nav ul li:hover {
    background: blue;
}

nav ul li ul {
    border-bottom: 5px solid orange;
    display: none;
    position: absolute;
    width: 250px;
}

nav ul li ul li {
    border-top: 1px solid purple;
    display: block;
}

nav ul li ul li:first-child {
    border-top: none;
}

nav ul li ul li a {
    background: darkgray;
    display: block;
    padding: 10px 14px;
}

nav ul li ul li a:hover {
    background: lightsalmon;
}

.box1 {
    background-color: lightsalmon;
    width: 100vw;
    height: 60vh;
    position: static;
    margin: 0;
    padding: 0;

}
.a1 {
    font-family: arimo-bold;
    font-size: 20vw;
    margin: 0;
    padding: 0;
    text-align: center;
}

.a2 {
    font-family: arimo-italic;
    font-size: 20vw;
    margin: 0;
    padding: 0;
    text-align: center;
}

.a3 {
    font-family: arimo-reg;
    font-size: 20vw;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* 
.work {
    display: block;
}

.work:hover {
   color: lightsalmon;
}

.work-menu li {
    list-style-type: none;
    display: none;
} */
