@font-face {
    font-family: arimo-bolditalic;
    src: url(../../stylesheets/fonts/Arimo-BoldItalic.ttf);
}

@font-face {
    font-family: arimo-med-italic;
    src: url(../../stylesheets/fonts/Arimo-MediumItalic.ttf);
}

@font-face {
    font-family: arimo-reg;
    src: url(../../stylesheets/fonts/Arimo-Regular.ttf);
}

@media screen and (min-width: 601px) {
    p.desc {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
   p.desc {
       font-size: 1rem;
    } 
}

@media screen and (min-width: 601px) {
    h1.title {
        font-size: 9vw;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: darkgray;
    position: relative;
}

ul li {
    display: inline-block;
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

ul li:hover {
    background-color: gray;
}

ul ul {
    position: absolute;
    min-width: 200px;
    background-color: lightsalmon;
    display: none;
}

ul ul li {
    display: block;
    background-color: darkgray;
}

ul li:hover ul {
    display: block;
}

#work-menu {
    font-size: 1.8vh;
    font-family: arimo-reg;
    position: relative;
    z-index: 1;
}

h2.title {
    z-index: -10;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.title {
    font-family: arimo-bolditalic;
    color: white;
    font-size: 15vw;
    line-height: 90%;
    position: relative;
    display: block; 
    position: relative;
    text-align: left;
    font-weight: bold;
    padding: 0;
    margin: 20px 60px 20px 20px;
}

.image1 {
    display: block;
    width: 100vw;
}

.desc {
    font-family: arimo-med-italic;
    display: block;
    margin: 1em 0;
    margin-left: 1em;
    max-width: 70ch;
}

.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 1px;
}

a:link {
    color: gray;
    text-decoration: none;
}

a:link:hover {
    color: black;
}

a:visited {
    color: gray;
    text-decoration: none;
}

a:visited:hover {
    color: black;
    text-decoration: none;
}
