@font-face {
    font-family: arimo-bolditalic;
    src: url(../stylesheets/fonts/Jost-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: arimo-med-italic;
    src: url(../stylesheets/fonts/Jost-SemiBoldItalic.ttf);
}

@font-face {
    font-family: arimo-reg;
    src: url(../stylesheets/fonts/Jost-MediumItalic.ttf);
}

@font-face {
    font-family: arimo-black;
    src: url(../stylesheets/fonts/Jost-BlackItalic.ttf);
}

@font-face {
    font-family: arimo;
    src: url(../stylesheets/fonts/Jost-Italic.ttf);
}

.hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    display: block;
    width: max-content;
    z-index: 999;
}

.hamburger::before {
    content: "ArthurArthur";
    position: absolute;
    left: 100%;
    bottom: 3px;
    margin: 0 .5em;
    font-family: arimo-reg;
    color: white;
    font-size: 1.3rem;
}

.patty {
    width: 25px;
    height: 2px;
    background: white;
    margin: 8px 0;
}

#work-menu {
    display: none;
}

#slide-menu {
    position: fixed;
    z-index: 100;
    width: 100%;
    display: none;
    font-family: arimo-bolditalic;
    font-size: 2rem;
}

#slide-menu > ul {
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    padding: 20px;
}

#slide-menu a {
    color: black;
    padding: 3px;
}

.home a {
    font-family: arimo-reg;
    color: black !important;
}

.print a {
    color: black !important;
}

.perf a {
    font-family: arimo-reg;
    color: black !important;
}

.fibers a {
    color: black !important;
}

.sound a {
    font-family: arimo-reg;
    color: black !important;
}

.ceramic a {
    color: black !important;
}

.plastic a {
    font-family: arimo-reg;
    color: black !important;
}

.process a {
    color: black !important;
}

.about-me a {
    font-family: arimo-reg;
    color: black !important;
}

@media (min-width: 800px) {
    .hamburger {
        display: none;
    }

    #slide-menu {
        display: none;
    }

    #work-menu {
        display: block;
    }
}