@media screen and (min-width: 801px) {
    p.desc {
        font-size: 20px;
    }

    h2.title {
        font-size: 9vw;
    }
}

@media screen and (max-width: 800px) {
    h2.title {
        margin-top: 1.4em;
        font-size: 12vw;
    }
}

.hamburger::before {
    content: "ArthurArthur";
    position: absolute;
    left: 100%;
    bottom: 9px;
    margin: 0 .5em;
    font-family: arimo-reg;
    color: white !important;
}

.patty {
    width: 25px;
    height: 2px;
    background: white !important;
    margin: 8px 0;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: black;
    position: relative;
}

ul li {
    display: inline-block;
    /* padding: 1vw; */
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

ul li:hover {
    background-color: gray;
}

ul ul {
    position: absolute;
    min-width: 200px;
    background-color: lightsalmon;
    display: none;
}

ul ul li {
    display: block;
    background: black;
}

ul li:hover ul {
    display: block;
}

#work-menu {
    font-size: 2vh;
    font-family: arimo-reg;
    position: relative;
    z-index: 1;
}

.home-image {
    align-items: left;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

/* .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: rubik;
    font-size: 25rem;
    color: white;
    opacity: 50%;
} */
