
@font-face {
    font-family: arimo-bolditalic;
    src: url(../stylesheets/fonts/Jost-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: arimo-med-italic;
    src: url(../stylesheets/fonts/Jost-SemiBoldItalic.ttf);
}

@font-face {
    font-family: arimo-reg;
    src: url(../stylesheets/fonts/Jost-MediumItalic.ttf);
}

@media screen and (min-width: 601px) {
    p.desc {
        font-size: 3rem;
    }
}

@media screen and (max-width: 600px) {
    p.desc {
       font-size: 1.5rem;
    } 
}

@media screen and (min-width: 601px) {
    h2.title {
        font-size: 9vw;
    }
}

@media screen and (max-width: 800px) {
    h2.title {
        font-size: 13vw;
    }

    h2.title {
        margin-top: 1.2em;
    }
}

.patty {
    width: 25px;
    height: 2px;
    background: black !important;
    margin: 8px 0;
}

.hamburger::before {
    content: "ArthurArthur";
    position: absolute;
    left: 100%;
    bottom: 9px;
    margin: 0 .5em;
    font-family: arimo-reg;
    color: black !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: white;
    position: relative;
}

ul li {
    display: inline-block;
    /* padding: 1vw; */
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

ul li:hover {
    background-color: white;
}

ul ul {
    position: absolute;
    min-width: 200px;
    background-color: darkgray;
    display: none;
}

ul ul li {
    display: block;
    background: white;
}

ul li:hover ul {
    display: block;
}

#work-menu {
    font-size: 1.8vh;
    font-family: arimo-reg;
    position: relative;
    z-index: 1;
}

h2.title {
    z-index: -10;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}
.title {
    font-family: arimo-bolditalic;
    color: black;
    font-size: 15vw;
    line-height: 100%;
    position: relative;
    display: block; 
    position: relative;
    text-align: left;
    font-weight: bold;
    padding: 0;
    margin: 20px 60px 20px 20px;
}

.image1 {
    display: block;
    width: 100vw;
}

.desc {
    font-family: arimo-med-italic;
    display: block;
    text-align: left;
    margin: 1em 0;
    margin-left: 20px;
    max-width: 50ch;
}

a:link {
    color: gray;
    text-decoration: none;
}

a:link:hover {
    color: black;
}

a:visited {
    color: gray;
    text-decoration: none;
}

a:visited:hover {
    color: black;
    text-decoration: none;
}