@font-face {
    font-family: arimo-bolditalic;
    src: url(../stylesheets/fonts/Arimo-BoldItalic.ttf);
}

@font-face {
    font-family: arimo-bold;
    src: url(../stylesheets/fonts/Arimo-MediumItalic.ttf);
}

@font-face {
    font-family: shippori;
    src: url(../stylesheets/fonts/ShipporiAntiqueB1-Regular.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(../stylesheets/fonts/Quicksand-Regular.ttf);
}

@media screen and (min-width: 601px) {
    p1.desc {
        font-size: 3rem;
    }
}

@media screen and (max-width: 600px) {
   p1.desc {
       font-size: 1.5rem;
    } 
}

@media screen and (min-width: 601px) {
    h2.title {
        font-size: 9vw;
    }
}

@media screen and (max-width: 600px) {
    h2.title {
        font-size: 13vw;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: black;
    position: relative;
}

ul li {
    display: inline-block;
    /* padding: 1vw; */
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

ul li:hover {
    background-color: white;
}

ul ul {
    position: absolute;
    min-width: 200px;
    background-color: black;
    display: none;
}

ul ul li {
    display: block;
    background: white;
}

ul li:hover ul {
    display: block;
}

#work-menu {
    font-size: 1.8vh;
    font-family: quicksand;
}

h2.title {
    z-index: -10;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}
.title {
    font-family: arimo-bolditalic;
    color: black;
    font-size: 15vw;
    line-height: 100%;
    position: relative;
    display: block; 
    position: relative;
    text-align: left;
    font-weight: bold;
    padding: 0;
    margin: 20px 60px 20px 20px;
}

.image1 {
    display: block;
    width: 100vw;
}

.desc {
    font-family: arimo-bold;
    /* font-size: 1.2vw; */
    /* line-height: 1.5vw; */
    display: block;
    padding: 20px;
    font-size: 10rem;
    text-align: right;
}
a:link {
    color: gray;
}

a:visited {
    color: gray;
}